.button-item {
  @include reset-link;

  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 44px;
  background-color: $accent-color;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 44px;
    width: 30px;
    height: 30px;
    background-color: $white-color;
    mask-image: url("../../__spritemap#sprite-arrow-view");
    mask-size: 10px 10px;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    transition: all 0.3s ease;
    z-index: 3;
  }

  &:active {
    background-color: $white-color;

    &::after {
      background-color: $accent-color;
      opacity: 0.7;
      transform: translateY(-50%) rotate(45deg);
    }
  }

  &:hover {
    background-color: $white-color;

    &::after {
      background-color: $accent-color;
      opacity: 1;
      transform: translateY(-50%) rotate(45deg);
    }
  }

  &:focus {
    outline: none;

    &::after {
      transform: translateY(-50%) rotate(45deg);
    }
  }
}


.button-item--disabled {
  background-color: $disabled-button;
  cursor: not-allowed;

  &::after {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.button-item--disabled:hover {
  background-color: $disabled-button;
  cursor: not-allowed;

  &::after {
    background-color: rgba(255, 255, 255, 0.6);
    transform: translateY(-50%);
  }
}
