.faq__wrapper {
  width: 320px;
  padding: 50px 15px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 50px 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 60px 206px;
  }
}

.faq__title {
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 11px 9px;
    margin-bottom: 60px;
  }
}

.faq__list {
  @include reset-list;
  @include flex-column;

  align-items: center;
  gap: 10px;
}

.faq__item {
  border-radius: 14px;
  border: 2px solid $accent-color;
  color: $accent-color;
  padding: 20px 15px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px;
  }

  &--active {
    background-color: $accent-color;
    color: $white-color;
  }

  &:hover,
  &:focus {
    background-color: $white-color;
    color: $accent-color;
  }

  &:active {
    background-color: $white-color;
    color: $active-button;
  }

  &--disabled {
    opacity: 0.5;
    color: $background-color;
    border: 2px solid $background-color;
    background-color: $white-color;
    cursor: not-allowed;
  }
}

.faq__item p {
  @include reset;

  height: 0;
  font-size: 14px;
  line-height: 20px;
  color: $background-color;
  overflow: hidden;
  transition: all 0.5s;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 26px;
  }
}

.faq__item--active p {
  height: auto;
  padding-top: 20px;
}

.faq__item br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.faq__item--active .faq__list-button {
  background-color: $white-color;
  color: $accent-color;

  &::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: none;
    height: 2px;
    width: 18px;
    background-color: $accent-color;
  }
}

.faq__item:focus .faq__list-button,
.faq__item:hover .faq__list-button {
  border: 1px solid $accent-color;
  outline: none;
  background-color: $white-color;

  &::after {
    background-color: $accent-color;
  }
}

.faq__item:active .faq__list-button {
  border: 1px solid $accent-color;
  outline: none;
  background-color: $active-button;

  &::after {
    background-color: $white-color;
  }
}

.faq__item--active:focus,
.faq__item--active:hover {
  background-color: $accent-color;
  color: $white-color;
}

.faq__item--active:focus .faq__list-button,
.faq__item--active:hover .faq__list-button {
  background-color: $accent-color;
  color: $white-color;
  border: 1px solid $white-color;

  &::after {
    background-color: $white-color;
  }
}

.faq__item--active:active {
  background-color: $active-button;
  color: $white-color;
}

.faq__item--active:active .faq__list-button {
  background-color: $white-color;

  &::after {
    background-color: $accent-color;
  }
}

.faq__item--disabled:hover,
.faq__item--disabled:focus,
.faq__item--disabled:active {
  opacity: 0.5;
  color: $background-color;
  border: 2px solid $background-color;
  background-color: $white-color;
}

.faq__item--disabled .faq__list-button,
.faq__item--disabled:hover .faq__list-button,
.faq__item--disabled:focus .faq__list-button,
.faq__item--disabled:active .faq__list-button {
  background-color: $white-color;
  border: 1px solid $background-color;

  &::after {
    background-color: $background-color;
  }
}

.faq__question-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq__question {
  @include reset-title;

  width: 187px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: 564px;
    font-size: 22px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 894px;
    font-size: 28px;
    line-height: 34px;
  }
}

.faq__list-button {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background-color: $accent-color;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: $white-color;
    mask-image: url("../../__spritemap#sprite-plus-view");
    mask-size: 20px 20px;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    transition: all 0.5s;
  }
}
