.programs__wrapper {
  position: relative;
  width: 320px;
  padding: 50px 15px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 50px 0 60px 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 60px 100px 70px;
  }
}

.programs__title {
  text-align: left;
  margin: 5px 0 35px;

  @media (min-width: $tablet-width) {
    margin: 3px 0 43px;
  }

  @media (min-width: $desktop-width) {
    margin: 5px 0 45px;
  }
}

.programs__button-swiper-wrapper {
  position: absolute;
  top: 54px;
  right: 15px;
  height: 22px;

  @media (min-width: $tablet-width) {
    top: auto;
    bottom: 50px;
    right: 45px;
  }

  @media (min-width: $desktop-width) {
    right: 100px;
    bottom: 60px;
  }
}

.programs__swiper {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.programs__list {
  @include reset-list;
}

.programs__list .programs__item {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 400px;
  border-radius: 12px;
  background-color: #d6e2f3;
  background-size: cover;
  background-position: center;
  padding: 18px 10px;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 420px;
    padding: 10px 20px;
  }

  @media (min-width: $desktop-width) {
    width: 392px;
    padding: 17px 51px 17px 18px;
  }

  &--internship {
    background-image:
      $overlay-photo,
      image-set(url("../../img/programs-mobile-1@1x.webp") type("image/webp") 1x,
      url("../../img/programs-mobile-1@2x.webp") type("image/webp") 2x,
      url("../../img/programs-mobile-1@1x.jpg") type("image/jpeg") 1x,
      url("../../img/programs-mobile-1@2x.jpg") type("image/jpeg") 2x);

    @media (min-width: $tablet-width) {
      background-image:
        $overlay-photo,
        image-set(url("../../img/programs-tablet-1@1x.webp") type("image/webp") 1x,
        url("../../img/programs-tablet-1@2x.webp") type("image/webp") 2x,
        url("../../img/programs-tablet-1@1x.jpg") type("image/jpeg") 1x,
        url("../../img/programs-tablet-1@2x.jpg") type("image/jpeg") 2x);
    }

    @media (min-width: $desktop-width) {
      background-image:
        $overlay-photo,
        image-set(url("../../img/programs-desktop-1@1x.webp") type("image/webp") 1x,
        url("../../img/programs-desktop-1@2x.webp") type("image/webp") 2x,
        url("../../img/programs-desktop-1@1x.jpg") type("image/jpeg") 1x,
        url("../../img/programs-desktop-1@2x.jpg") type("image/jpeg") 2x);
    }
  }

  &--volunteer {
    background-image:
      $overlay-photo,
      image-set(url("../../img/programs-mobile-2@1x.webp") type("image/webp") 1x,
      url("../../img/programs-mobile-2@2x.webp") type("image/webp") 2x,
      url("../../img/programs-mobile-2@1x.jpg") type("image/jpeg") 1x,
      url("../../img/programs-mobile-2@2x.jpg") type("image/jpeg") 2x);

    @media (min-width: $tablet-width) {
      background-image:
        $overlay-photo,
        image-set(url("../../img/programs-tablet-2@1x.webp") type("image/webp") 1x,
        url("../../img/programs-tablet-2@2x.webp") type("image/webp") 2x,
        url("../../img/programs-tablet-2@1x.jpg") type("image/jpeg") 1x,
        url("../../img/programs-tablet-2@2x.jpg") type("image/jpeg") 2x);
    }

    @media (min-width: $desktop-width) {
      background-image:
        $overlay-photo,
        image-set(url("../../img/programs-desktop-2@1x.webp") type("image/webp") 1x,
        url("../../img/programs-desktop-2@2x.webp") type("image/webp") 2x,
        url("../../img/programs-desktop-2@1x.jpg") type("image/jpeg") 1x,
        url("../../img/programs-desktop-2@2x.jpg") type("image/jpeg") 2x);
    }
  }

  &--studies {
    background-image:
      $overlay-photo,
      image-set(url("../../img/programs-mobile-3@1x.webp") type("image/webp") 1x,
      url("../../img/programs-mobile-3@2x.webp") type("image/webp") 2x,
      url("../../img/programs-mobile-3@1x.jpg") type("image/jpeg") 1x,
      url("../../img/programs-mobile-3@2x.jpg") type("image/jpeg") 2x);

    @media (min-width: $tablet-width) {
      background-image:
        $overlay-photo,
        image-set(url("../../img/programs-tablet-3@1x.webp") type("image/webp") 1x,
        url("../../img/programs-tablet-3@2x.webp") type("image/webp") 2x,
        url("../../img/programs-tablet-3@1x.jpg") type("image/jpeg") 1x,
        url("../../img/programs-tablet-3@2x.jpg") type("image/jpeg") 2x);
    }

    @media (min-width: $desktop-width) {
      background-image:
        $overlay-photo,
        image-set(url("../../img/programs-desktop-3@1x.webp") type("image/webp") 1x,
        url("../../img/programs-desktop-3@2x.webp") type("image/webp") 2x,
        url("../../img/programs-desktop-3@1x.jpg") type("image/jpeg") 1x,
        url("../../img/programs-desktop-3@2x.jpg") type("image/jpeg") 2x);
    }
  }
}

.programs__text-wrapper {
  @include flex-column;

  position: relative;
  align-items: flex-start;
  margin-top: auto;
}

.programs__heading {
  @include reset-title;

  position: relative;
  width: 146px;
  background-color: $white-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: $accent-color;
  padding: 18px 18px 6px;
  border-radius: 12px 12px 0 0;

  @media (min-width: $tablet-width) {
    width: 173px;
    font-size: 20px;
    line-height: 14px;
    padding: 18px 18px 6px;
  }

  @media (min-width: $desktop-width) {
    width: 194px;
    font-size: 24px;
    line-height: 17px;
    padding: 17px 35px 6px 18px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 10px;
    background-image: url("../../img/sprite/angle-left-up.svg");
    background-size: 10px 10px;
    background-repeat: no-repeat;
    z-index: 2;

    @media (min-width: $tablet-width) {
      right: -18px;
      width: 18px;
      height: 18px;
      background-size: 18px 18px;
    }
  }
}

.programs__text-wrapper p {
  @include reset-title;

  width: 270px;
  min-height: 69px;
  background-color: $white-color;
  border-radius: 0 12px 12px;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  color: $primary-text-color;
  padding: 12px 77px 15px 18px;

  @media (min-width: $tablet-width) {
    width: 284px;
    min-height: 87px;
    font-size: 14px;
    line-height: 20px;
    padding: 12px 64px 15px 18px;
  }

  @media (min-width: $desktop-width) {
    width: 321px;
    min-height: 82px;
    line-height: 18px;
    padding: 12.5px 99px 15.5px 18px;
  }
}


.programs__button-item {
  @include reset-link;

  position: absolute;
  bottom: 21px;
  right: 18px;
  width: 30px;
  height: 30px;
  border-radius: 44px;
  background-color: $accent-color;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    bottom: 30px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 44px;
    width: 30px;
    height: 30px;
    background-color: $white-color;
    mask-image: url("../../__spritemap#sprite-arrow-view");
    mask-size: 10px 10px;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    transition: all 0.3s ease;
  }

  &:active {
    background-color: $white-color;

    &::after {
      background-color: $accent-color;
      opacity: 0.7;
      transform: translateY(-50%) rotate(45deg);
    }
  }

  &:hover {
    background-color: $white-color;

    &::after {
      background-color: $accent-color;
      opacity: 1;
      transform: translateY(-50%) rotate(45deg);
    }
  }

  &:focus {
    outline: none;

    &::after {
      transform: translateY(-50%) rotate(45deg);
    }
  }
}

.programs__button-item--disabled {
  background-color: $disabled-button;
  cursor: not-allowed;

  &::after {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.programs__button-item--disabled:hover {
  background-color: $disabled-button;
  cursor: not-allowed;

  &::after {
    background-color: rgba(255, 255, 255, 0.6);
    transform: translateY(-50%);
  }
}

.programs__button {
  @include reset-link;

  width: 205px;
  padding: 15px 68px 15px 30px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 50px;
    right: 45px;
    width: 234px;
    padding: 20px 80px 20px 30px;
  }

  @media (min-width: $desktop-width) {
    top: 62px;
    right: 100px;
  }
}

.programs__scrollbar {
  width: 562px;
  left: 0;
  bottom: 11px;
  height: 2px;
  background-color: rgba(49, 109, 194, 0.2);

  @media (width <= 767px) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    width: 1136px;
  }
}

.programs__scrollbar .swiper-scrollbar-drag {
  background-color: $accent-color;
}
