$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1439px;
$desktop-width: 1440px;
$primary-font: "Manrope", "Arial", san-serif;
$primary-text-color: #484848;
$accent-color: #316dc2;
$white-color: #ffffff;
$background-color: #f0efe9;
$active-button: #275699;
$disabled-button: #a9afb7;
$form-color: #484848;
$error-color: #ff5e66;
$overlay-photo: linear-gradient(112.1deg, rgba(49, 109, 194, 0.2) 17.23%, rgba(49, 109, 194, 0.2) 94.93%);
$overlay-menu: rgba(13, 29, 51, 0.4);
